@{
    ViewBag.Title = "Dashboard";
}


<div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="background-color: skyblue;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-shopping-bag"></i> 150 New Orders
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color: green;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-chart-bar"></i> 53% Bounce Rate
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color: yellow;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-users"></i> 44 User Registrations
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color: red;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fas fa-chart-pie"></i> 65 Unique Visitors
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>