/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-72wgjkt4ky] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-72wgjkt4ky] {
  color: #0077cc;
}

.btn-primary[b-72wgjkt4ky] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-72wgjkt4ky], .nav-pills .show > .nav-link[b-72wgjkt4ky] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-72wgjkt4ky] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-72wgjkt4ky] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-72wgjkt4ky] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-72wgjkt4ky] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-72wgjkt4ky] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

#sidebar[b-72wgjkt4ky] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #37474f;
    color: white;
    padding-top: 20px;
    overflow-y: auto; /* Add scroll if content exceeds sidebar height */
}

.sidebar-header[b-72wgjkt4ky] {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-nav[b-72wgjkt4ky] {
    list-style: none;
    padding: 0;
}

    .sidebar-nav li[b-72wgjkt4ky] {
        padding: 10px;
        transition: background-color 0.3s;
    }

        .sidebar-nav li:hover[b-72wgjkt4ky] {
            background-color: #546e7a;
        }

    .sidebar-nav a[b-72wgjkt4ky] {
        color: white;
        text-decoration: none;
    }

    .sidebar-nav i[b-72wgjkt4ky] {
        margin-right: 10px;
    }
#content[b-72wgjkt4ky], body[b-72wgjkt4ky] {
    box-sizing: border-box;
}